.bs-docs-sidenav{
margin-top:20px;
margin-bottom:20px
}

.bs-docs-sidebar
.nav>li>a{
display:block;
padding:4px 20px;
font-size:13px;
font-weight:500;
color:#767676
}

.bs-docs-sidebar .nav>li>a:focus,.bs-docs-sidebar .nav>li>a:hover{
padding-left:19px;
color:#ff5072;
text-decoration:none;
background-color:transparent;
border-left:1px solid #ff5072
}

.bs-docs-sidebar .nav>.active:focus>a,.bs-docs-sidebar .nav>.active:hover>a,.bs-docs-sidebar .nav>.active>a{
padding-left:18px;
font-weight:700;
color:#ff5072;
background-color:transparent;border-left:2px
solid #ff5072
}

.bs-docs-sidebar .nav .nav{
display:none;
padding-bottom:10px
}

.bs-docs-sidebar .nav .nav>li>a{
padding-top:1px;
padding-bottom:1px;
padding-left:30px;
font-size:12px;
font-weight:400
}



.bs-docs-sidebar .nav .nav>li>a:focus,.bs-docs-sidebar .nav .nav>li>a:hover{
padding-left:29px
}


.bs-docs-sidebar .nav .nav>.active:focus>a,.bs-docs-sidebar .nav .nav>.active:hover>a,.bs-docs-sidebar .nav .nav>.active>a{
padding-left:28px;
font-weight:500
}

@media (min-width:992px){
.bs-docs-sidebar .nav>
.active>ul{display:block}
.bs-docs-sidebar.affix,
.bs-docs-sidebar.affix-bottom{
width:213px
}

.bs-docs-sidebar.affix{
position:fixed;
top:20px
}

.bs-docs-sidebar.affix-bottom{position:absolute}
.bs-docs-sidebar.affix
.bs-docs-sidenav,.bs-docs-sidebar
.affix-bottom
.bs-docs-sidenav{margin-top:0;margin-bottom:0}}

@media (min-width:1200px){.bs-docs-sidebar.affix,.bs-docs-sidebar.affix-bottom{width:263px}}

.bs-docs-section{
margin-bottom:60px
}

/* 导航栏 */

.bs-docs-nav{
 margin-bottom:0;
 background-color:#fff;
 border-bottom:0
 }

.bs-home-nav .bs-nav-b{
display:none
}

.bs-docs-nav .navbar-brand,.bs-docs-nav .navbar-nav>li>a{
font-weight:500;
color:#323232
}

.bs-docs-nav .navbar-nav>.active>a,.bs-docs-nav .navbar-nav>.active>a:hover,.bs-docs-nav .navbar-nav>li>a:hover{
color:#ff5072;
background-color:#fff4f6
}

.bs-docs-nav .navbar-toggle .icon-bar{
background-color:#ff5072
}

.bs-docs-nav .navbar-header .navbar-toggle{
border-color:#fff

}.bs-docs-nav .navbar-header .navbar-toggle:focus,.bs-docs-nav .navbar-header .navbar-toggle:hover{
background-color:#fff4f6;
border-color:#fff4f6
}


/*此处添加的是渐变的顶部分割*/

.bs-docs-header,.bs-docs-masthead{
position:relative;
padding:30px 0;
color:#fff;
text-align:center;
text-shadow:0 0 0 rgba(255, 255, 255, 0.1);
background-color:#ffe9ed;
background-image:-webkit-gradient(linear,left top,left bottom,from(#ff7abe),to(#ffe9ed));
background-image:-webkit-linear-gradient(top,#ff7abe 0,#ffe9ed 100%);background-image:-o-linear-gradient(top,#ff7abe 0,#ffe9ed 100%);
background-image:linear-gradient(to bottom,#ff7abe 0,#ffe9ed 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7abe', endColorstr='#ffe9ed', GradientType=0);
background-repeat:repeat-x
}

.bs-docs-masthead .bs-docs-booticon{
  margin:0 auto 30px
}
.bs-docs-masthead h1{
  font-weight:300;
  line-height:1;
  color:#fff
  }

  .bs-docs-masthead .lead{
    margin:0 auto 30px;
    font-size:20px;
    color:#fff
    }

.bs-docs-masthead .version{
  margin-top:-15px;
  margin-bottom:30px;
  color:#ff5072
  }

.bs-docs-masthead .btn{
width:100%;
padding:15px 30px;
font-size:20px
}
  @media (min-width:480px){.bs-docs-masthead .btn{width:auto}}@media (min-width:768px){.bs-docs-masthead{padding:80px 0}.bs-docs-masthead h1{font-size:60px}.bs-docs-masthead .lead{font-size:24px}}@media (min-width:992px){.bs-docs-masthead .lead{width:80%;font-size:30px}}

.bs-docs-header{
  margin-bottom:40px;
  font-size:20px
  }

.bs-docs-header h1{
  margin-top:0;
  color:#fff
  }

.bs-docs-header p{
margin-bottom:0;
font-weight:300;
line-height:1.4
}

.bs-docs-header .container{
position:relative
}

@media (min-width:768px){
.bs-docs-header{
padding-top:30px;
padding-bottom:45px;
font-size:14px;
text-align:left
}

.bs-docs-header h1{
font-size:60px;
line-height:1
}
}
@media (min-width:992px){
.bs-docs-header h1,
.bs-docs-header p{
margin-right:380px
}
}

/*Footer的相关属性*/


.bs-docs-footer{
padding-top:40px;
padding-bottom:40px;
margin-top:100px;
color:#767676;
text-align:center;
border-top:1px solid #e5e5e5
}

.bs-docs-footer-links{
padding-left:0;
margin-top:20px
}


.bs-docs-footer-links li{
display:inline;
padding:0 2px
}

.bs-docs-footer-links li:first-child{
padding-left:0
}
@media (min-width:768px){
.bs-docs-footer p{margin-bottom:0}}
.bs-docs-social{margin-bottom:20px;text-align:center}
.bs-docs-social-buttons{display:inline-block;padding-left:0;margin-bottom:0;list-style:none}
.bs-docs-social-buttons li{display:inline-block;padding:5px 8px;line-height:1}
.bs-docs-social-buttons .twitter-follow-button{width:225px!important}
.bs-docs-social-buttons .twitter-share-button{width:98px!important}.github-btn{overflow:hidden;border:0}


/*返回顶部*/


.back-to-top,.bs-docs-theme-toggle{
display:none;
padding:4px 10px;
margin-top:10px;
margin-left:10px;
font-size:12px;
font-weight:500;
color:#999
}

.back-to-top:hover,.bs-docs-theme-toggle:hover{
  color:#ff5072;
  text-decoration:none
  }

.bs-docs-theme-toggle{
margin-top:0
}

@media (min-width:768px){
.back-to-top,.bs-docs-theme-toggle{display:block}}

/*Docs Section*/

.bs-docs-section{
margin-bottom:60px
}

.bs-docs-section:last-child{margin-bottom:0}h1[id]{padding-top:20px;margin-top:0}.bs-callout{padding:20px;margin:20px 0;border:1px solid #eee;border-left-width:5px;border-radius:3px}
